body {
  height: 100vh;
  background-image: url(assets/images/mlb-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  margin: auto;
  font-size: 60px;
  font-weight: bold;
  color: red;
  padding: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

aside div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  text-align: center;
  padding-top: 30px;
  background-color: lightblue;
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main div {
  height: 24vh;
  margin: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.card-back {
  background-image: url(assets/images/mlb-logo.png);
}

.astros-logo {
  background-image: url(assets/images/new-astros-image.PNG);
}

.dodgers-logo {
  background-image: url(assets/images/new-dodgers-logo.PNG);
}

.giants-logo {
  background-image: url(assets/images/new-giants-logo.PNG);
}

.brewers-logo {
  background-image: url(assets/images/new-brewers-logo.PNG);
}

.yankees-logo {
  background-image: url(assets/images/new-yankees-logo.PNG);
}

.redsox-logo {
  background-image: url(assets/images/new-redsox-log.PNG);
}

.rockies-logo {
  background-image: url(assets/images/new-rockies-logo.PNG);
}

.oakland-logo {
  background-image: url(assets/images/new-oakland-logo.PNG);
}

.cubs-logo {
  background-image: url(assets/images/new-cubs-logo.PNG);
}

div.col-2 {
  position: relative;
}

.modal-display {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: white;
  border: 5px solid lightblue;
  width: 50%;
  text-align: center;
  font-size: 30px;
  border-radius: 25px;
}

.initialModalHeader {
  color: red;
}

button {
  font-size: 16px;
  padding: 8px;
  border: 4px solid black;
  margin: 20px;
}

@media only screen
  and (min-width: 375px){
    main div {
      height: 12vh;
      flex-basis: 30%;
    }

    header {
      font-size: 35px;
    }

    aside {
      padding: 0px;
    }

    aside div {
      font-size: 12px;
    }
  }

@media only screen
  and (min-width: 667px) {
    main div {
      flex-basis: 15%;
      height: 22vh;
    }

    header {
      font-size: 30px;
      padding: 10px;
    }

    aside {
      padding: 0px;
    }

    aside div {
      padding: 3px;
    }
  }

@media only screen
  and (min-width: 768px) {
    header {
      font-size: 60px;
    }

    main div {
      height: 18vh;
    }
  }

.volumeControl {
  position: fixed;
  top: 10px;
  right: 10px;
}






.hidden {
  display: none;
}


.homerun {
  background-image: url('./assets/images/homerungif.gif');
  width: 550px;
  height: 350px;
  background-position: center;
  background-size: cover;
  margin: auto;
}

.strikeout {
  background-image: url('./assets/images/strikeoutgif.gif');
  width: 550px;
  height: 350px;
  background-position: center;
  background-size: cover;
  margin: auto;
}

.modal-header {
  margin: auto;
  font-size: 40px;
}













/* .container {
  width: 90%;
  margin: auto;
  background-color: lightcoral;
}

.header-row {
  width: 100%;
  margin: auto;
  text-align: center;
} */

/* .header {
  width: 1240px;
  margin: auto;
  background-color: lightcoral;
  text-align: center;
  font-size: 48px;

}

.stats-container {
  width: 15%;
  height: 500px;
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 38px;
}

.stat {
  width: 90%;
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  padding-bottom: 10px;
} */
