body {
  height: 100vh;
  background-image: url(../assets/images/lfz-background.jpg);
  background-size: cover;
}

header {
  margin: auto;
  font-size: 60px;
  font-weight: bold;
  padding: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

aside div {
  height: 6vh;
  text-align: center;
  padding-top: 30px;
  background-color: lightblue;
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main div {
  height: 24vh;
  margin: 4px;
  background-image: url(../assets/images/lfz-card.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back {
  background-image: url(../assets/images/lfz-card.jpg);
}

.js-logo {
  background-image: url(../assets/images/js-logo.png);
}

.html-logo {
  background-image: url(../assets/images/html-logo.png);
}

.github-logo {
  background-image: url(../assets/images/gitHub-logo.png);
}

.css-logo {
  background-image: url(../assets/images/css-logo.png);
}

.docker-logo {
  background-image: url(../assets/images/docker-logo.jpg);
}

.mysql-logo {
  background-image: url(../assets/images/mysql-logo.jpg);
}

.node-logo {
  background-image: url(../assets/images/node-logo.png);
}

.php-logo {
  background-image: url(../assets/images/php-logo.jpeg);
}

.react-logo {
  background-image: url(../assets/images/react-logo.png);
}

div.col-2 {
  position: relative;
}

.modal-display {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal-content {
  background-color: blue;
  border: 5px solid lightblue;
  width: 50%;
}












.hidden {
  display: none;
}
















/* .container {
  width: 90%;
  margin: auto;
  background-color: lightcoral;
}

.header-row {
  width: 100%;
  margin: auto;
  text-align: center;
} */

/* .header {
  width: 1240px;
  margin: auto;
  background-color: lightcoral;
  text-align: center;
  font-size: 48px;

}

.stats-container {
  width: 15%;
  height: 500px;
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 38px;
}

.stat {
  width: 90%;
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  padding-bottom: 10px;
} */
